* {
  box-sizing: border-box;
}

body {
  background-color: #202124;
  background-image: url('./images/background.png');
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  min-height: 100vh;
  min-width: 100vw;
  max-width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  text-align: center;
  padding: 0;
  overflow-y: hidden; /* Hide vertical scrollbar */
  overflow-x: hidden; /* Hide horizontal scrollbar */
}

.App {
  min-width: 100vw;
  min-height: 100vh;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-auto-rows: minmax(100px, auto);
  grid-gap: 1em;
}

.App p {
  color: white; 
  width: 50vw;
  margin: 1rem;
}

/* ***************** LOGOS ***************** */

.swimLogo {
  grid-column: 8/9;
  grid-row: 1/2;
  width: 200px;
  position: absolute;
  top: 0;
  right: 0;
  padding-top: 2vh;
}

.bassyLogo {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: auto;
  transition: all .5s;
  max-width: 95vw;
}

/* ***************** Network Message ***************** */
.network p {
  padding: 0;
  margin: 0;
  font-size: 1rem;
  color: white;
  text-align: center;
 }

/* ***************** WHITELIST PAGE ***************** */
.whitelist {
  grid-column: 4/6;
  grid-row: 4/8;
  justify-self: center;
}

.whitelist .message {
  padding: 0;
  margin: 0;
  font-size: 1rem;
  color: white;
  text-align: center;
 }

.whitelist .form {
  display: flex;
  flex-direction: column;
  height: auto;
  min-width: 300px;
}

.whitelist .fGroup {
  display: flex;
  flex-direction: column;
}

.whitelist input {
  width: 98%;
  padding: 3% 0;
  margin: .5vh 1%;
  text-align: center;
  border-radius: 5px;
  outline: none;
}

.whitelist input:active {
  outline: none;
}

.whitelist input::placeholder {
  color: rgb(159, 158, 158);
}

.whitelist .account::placeholder {
  color: lightgrey;
  cursor: not-allowed;
  outline: none;
}

.whitelist .account:active,
.whitelist .account:hover {
  cursor: not-allowed;
  outline: none;
}

.whitelist .endForm {
  margin: .5vh 1% 1% 1%;
  display: flex;
}

.whitelist .submitBtn {
  border: none;
  border-radius: 5px;
  margin-bottom: .5%;
}

.whitelist .submitBtn:hover {
  background-color: transparent;
}

.whitelist .submitBtn:active {
  font-size: .8rem;
  background-color: #E21C21;
}

/* ***************** MINT PAGE ***************** */

.mint {
  grid-row: 4/8;
  width: 100%;
  justify-self: center;
  transition: all 2s;
}

.mint h1 {
  text-align: center;
  color: white
}

.card {
  background: transparent !important;
  color: white;
}

.mint input {
  background-color: transparent;
  color: white;
  border-radius: 5px;
}

input[type=number]::-webkit-inner-spin-button {
  opacity: 1;
}

.mintBtn {
  background-color: #E21C21 !important;
  border: none !important;
}

.mintBtn:focus,
.mintBtn:active {
  border: none !important;
  outline: none !important;
}

/* ***************** FOOTER ***************** */

.social {
  display: grid;
  grid-column: 1/9;
  grid-row: 8/9;
  justify-items: center;
}

.social .socialBtns a {
  padding: .9rem 1.5rem;
  border: 1px solid #E21C21;
  border-radius: 5px;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
  text-decoration: none;
  margin: 0 1vw;
  width: auto;
}

.socialBtns a:hover {
  background-color: #E21C21;
}

.socialIcons {
  display: flex;
  justify-content: center;
  margin-top: 2vh;
}


.socialIcons a .icon {
  color: white;
  font-size: 3em;
  margin: 0 1vw;
  padding: .5vh .5vw;
}

.socialIcons a:hover .icon {
  border: 1px solid #E21C21;
  border-radius: 5px;
  margin: 0 1vw;
}


/* ***************** MEDIA QUERIES ***************** */

@media (max-width: 2000px) {
  .mint {
    grid-column: 1/9;
  }
  
}