body {
  background-color: #202124;
  background-image: url('./images/background.png');
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  text-align: center;
  overflow-y: hidden; /* Hide vertical scrollbar */
  overflow-x: hidden; /* Hide horizontal scrollbar */
}

.App {
  width: 100vw;
  height: 100vh;
  display: grid;
}

.swimLogo {
  width: 200px;
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 2vh;
}

.bassyLogo {
  justify-self: center;
  align-self: center;
  height: 30vh;
  margin: 10vh 0 3vh 0;
}

.whitelist {
  display: grid;
  justify-content: center;
  height: 80h;
}

.message {
 margin-top: 5vh;
 font-size: 1rem;
}

.form {
  display: flex;
  flex-direction: column;
  min-width: 29vw;
  height: auto;
}

.fGroup {
  display: flex;
  flex-direction: column;
}

input {
  padding: 3% 1%;
  margin: .5vh 0;
  text-align: center;
}

input::placeholder {
  color: rgb(159, 158, 158);
}

.account::placeholder {
  color: lightgrey;
  cursor: not-allowed;
  outline: none;
}

.account:active,
.account:hover {
  cursor: not-allowed;
  outline: none;
}

.endForm {
  display: flex;
}

iframe {
  width: 100%;
  float: left;
}

.submitBtn {
  padding: 1rem;
  color: #fff;
  margin: .5vh 0;
  border: none;
  width: 100%;
  align-self: end;
}

.submitBtn:hover {
  /* color: #E21C21; */
  background-color: transparent;
  border: 1px solid #E21C21;
}

button:active {
  font-size: .8rem;
  background-color: #E21C21;
}

.social {
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
  height: 10vh;
}

.socialButtons {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  align-content: center;
}

.socialButtons a {
  padding: .9rem 2rem;
  border: 1px solid #E21C21;
  background-color: #E21C21;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
  text-decoration: none;
  margin: 0 2vw;
  align-self: center;
  justify-self: center;
  width: auto;
}

.socialIcons {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 3vh 0 0 0;
  padding: 0 0 2vh 0;
  width: 100vw;
  justify-self: center;
}


.socialIcons a .icon {
  color: white;
  border-radius: 50%;
  margin: 0 1vw;
  padding: .25em;
}

.socialIcons a:hover .icon {
  background-color: #E21C21;
  border-radius: 50%;
  margin: 0 1vw;
}

